body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Helvetica;
}

button {
    border: 2px solid #F9FAF8;
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    font-size: 500%;
    border-radius: 6px;
}

.display {
    border-radius: 6px;
    background-color: gray;
    font-size: 500%;
    font-weight: bold;
    color: #F9FAF8;
    text-align: right;
    padding-top: 15px;
    padding-right: 5px;
}

.calculatorBody {
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: 10px;
    border-radius: 6px;
    width: 400px;
}

.buttons {
    display: flex;
    flex-direction: column;
}

.digits {
    display: flex;
    flex-direction: column;
}

.digitRow {
    display: flex;
    justify-content: space-around;
}

.digitRow > button {
    flex: 0 0 100px;
    padding: 0px;
}

.digit:hover {
    background-color: #2f65bd;
}

.digit:active {
    background-color: #224783;
}

.operator {
    background-color: indianred;
}

.operator:hover {
    background-color: rgb(167, 76, 76);
}

.operator:active {
    background-color: rgb(122, 56, 56);
}

.operations {
    display: flex;
    flex-direction: column;
}

.other {
    background-color: orange;
}

.other:hover {
    background-color: rgb(201, 130, 0);
}

.other:active {
    background-color: rgb(156, 102, 0);
}